<center>
<%= form_for @task do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label "new task:" %> 
    <%= f.text_field :name %>

    <%= f.label "due:" %>
    <%= f.date_picker_text_field :due, :size => 9 %>
	<%= hidden_field_tag(:parent_id, params[:id]) %>
    <%= submit_tag "create task", :class=>"button" %>

  </p>
<% end %>
</center>
<hr/>