
<div class="span-24 last">
  <center>
    <%= render 'form' %>    
  </center>
  <hr/>
</div>

<% #TODO make a _task.html.erb partial to make this DRYer %>

<div class="span-3">
    <h3>Monday</h3>
    <% @complete.thisweek.monday.each do |task| %>
      <p>
        <%= task.name %> >> <br/>
        <%= link_to "complete!", complete_task_path(task.id) %>
        <small>| <%= link_to "delete", task, :method => :delete %> |</small>
      </p>
    <% end %>
</div>
<div class="span-3">
    <h3>Tuesday</h3>
    <% @complete.thisweek.tuesday.each do |task| %>
      <p>
        <%= task.name %> >> <br/>
        <%= link_to "complete!", complete_task_path(task.id) %>
        <small>| <%= link_to "delete", task, :method => :delete %> |</small>
      </p>
      <hr/>
    <% end %>  
</div>
<div class="span-3">
    <h3>Wednesday</h3>
    <% @complete.thisweek.wednesday.each do |task| %>
      <p>
        <%= task.name %> >> <br/>
        <%= link_to "complete!", complete_task_path(task.id) %>
        <small>| <%= link_to "delete", task, :method => :delete %> |</small>
      </p>
      <hr/>
    <% end %> 
</div>
<div class="span-3">
    <h3>Thursday</h3>
    <% @complete.thisweek.thursday.each do |task| %>
      <p>
        <%= task.name %> >>  <br/>
        <%= link_to "complete!", complete_task_path(task.id) %>
        <small>| <%= link_to "delete", task, :method => :delete %> |</small>
      </p>
      <hr/>
    <% end %> 
</div>
<div class="span-3">
    <h3>Friday</h3>
    <% @complete.thisweek.friday.each do |task| %>
      <p>
        <%= task.name %> >>  <br/>
        <%= link_to "complete!", complete_task_path(task.id) %>
        <small>| <%= link_to "delete", task, :method => :delete %> |</small>
      </p>
      <hr/>
    <% end %> 
</div>
<div class="span-3">
    <h3>Saturday</h3>
    <% @complete.thisweek.saturday.each do |task| %>
      <p>
        <%= task.name %> >> <br/>
        <%= link_to "complete!", complete_task_path(task.id) %>
        <small>| <%= link_to "delete", task, :method => :delete %> |</small>
      </p>
      <hr/>
    <% end %> 
</div>
<div class="span-3 last">
    <h3>Sunday</h3>
    <% @complete.thisweek.sunday.each do |task| %>
      <p>
        <%= task.name %> >> <br/>
        <%= link_to "complete!", complete_task_path(task.id) %>
        <small>| <%= link_to "delete", task, :method => :delete %> |</small>
      </p>
      <hr/>
    <% end %> 
</div>

  <hr/>
  <%= link_to "show all", "/showall" %>
