<% title "Tasks" %>
<div class="span-24 last">
  <center>
    <%= render 'form' %>    
  </center>
  <hr/>
  <h2>this_week's tasks:</h2>
</div>

<div class="span-3">
    <p>Monday</p>
    <% @complete.thisweek.monday.each do |task| %>
      <p>
        <%= task.name %> >> <br/>
        in <b><%= distance_of_time_in_words(Time.now, task.due) %></b><br/>
        <%= link_to "complete!", complete_task_path(task.id) %>
        <small>| <%= link_to "delete", task, :method => :delete %> |</small>
      </p>
    <% end %>
</div>
<div class="span-3">
    <p>Tuesday</p>
    <% @complete.thisweek.tuesday.each do |task| %>
      <p>
        <%= task.name %> >> <br/>
        in <b><%= distance_of_time_in_words(Time.now, task.due) %></b><br/>
        <%= link_to "complete!", complete_task_path(task.id) %>
        <small>| <%= link_to "delete", task, :method => :delete %> |</small>
      </p>
      <hr/>
    <% end %>  
</div>
<div class="span-3">
    <p>Wednesday</p>
    <% @complete.thisweek.wednesday.each do |task| %>
      <p>
        <%= task.name %> >> <br/>
        in <b><%= distance_of_time_in_words(Time.now, task.due) %></b><br/>
        <%= link_to "complete!", complete_task_path(task.id) %>
        <small>| <%= link_to "delete", task, :method => :delete %> |</small>
      </p>
      <hr/>
    <% end %> 
</div>
<div class="span-3">
    <p>Thursday</p>
    <% @complete.thisweek.thursday.each do |task| %>
      <p>
        <%= task.name %> >>  <br/>
        in  <b><%= distance_of_time_in_words(Time.now, task.due) %></b><br/>
        <%= link_to "complete!", complete_task_path(task.id) %>
        <small>| <%= link_to "delete", task, :method => :delete %> |</small>
      </p>
      <hr/>
    <% end %> 
</div>
<div class="span-3">
    <p>Friday</p>
    <% @complete.thisweek.friday.each do |task| %>
      <p>
        <%= task.name %> >>  <br/>
        in <b><%= distance_of_time_in_words(Time.now, task.due) %></b><br/>
        <%= link_to "complete!", complete_task_path(task.id) %>
        <small>| <%= link_to "delete", task, :method => :delete %> |</small>
      </p>
      <hr/>
    <% end %> 
</div>
<div class="span-3">
    <p>Saturday</p>
    <% @complete.thisweek.saturday.each do |task| %>
      <p>
        <%= task.name %> >> <br/>
        in <b><%= distance_of_time_in_words(Time.now, task.due) %></b><br/>
        <%= link_to "complete!", complete_task_path(task.id) %>
        <small>| <%= link_to "delete", task, :method => :delete %> |</small>
      </p>
      <hr/>
    <% end %> 
</div>
<div class="span-3 last">
    <p>Sunday</p>
    <% @complete.thisweek.sunday.each do |task| %>
      <p>
        <%= task.name %> >> <br/>
        in <b><%= distance_of_time_in_words(Time.now, task.due) %></b><br/>
        <%= link_to "complete!", complete_task_path(task.id) %>
        <small>| <%= link_to "delete", task, :method => :delete %> |</small>
      </p>
      <hr/>
    <% end %> 
</div>

  <hr/>
  <%= link_to "show all", "/showall" %>
