<% title "New Task" %>

<%= form_for @subtask do |f| %>
  <%= f.error_messages %>
  <p>
    <%= f.label "new task:" %> 
    <%= f.text_field :name %>
	<%= f.hidden_field(:due, :value=>@task.due)  %>
	<%= f.hidden_field(:parent_id, :value =>params[:id]) %>
    <%= submit_tag "create subtask", :class=>"button" %>

  </p>
<% end %>

<p><%= link_to "Back to List", tasks_path %></p>
