<div class="span-4 last">

  <% title "Sign In" %>  
  
  <%= form_for(resource, :as=>resource_name, :url => session_path(resource_name)) do |f| %>  
    <p>
      <%= f.label :email %> <%= f.text_field :email %>
    </p>
    <p>
      <%= f.label :password %> <%= f.password_field :password %>
    </p>
      <% if devise_mapping.rememberable? -%>  
        <%= f.check_box :remember_me %> <%= f.label :remember_me %>
      <% end %>  
      <br/> <br/>
      <%= submit_tag "sign in", :class=>"button" %>
  <% end %>  
  <br/>
  <%= render :partial => "devise/shared/links" %>  
  
</div>